.labels_in_add_user {
    /* Other styling... */
    text-align: right;
    float:right;
    margin-right: 12%;
    /*margin-buttom: 2%;*/
    font-size: calc(11px + 1vmin);
    padding-top: 10px;
    width: 25%;
    margin-top: 2%;
}


.inputs_in_add_user, .select_in_add_user{
    width: 50%;
    height: 28px;
    float: right;
    margin-top: 2%;
    /*margin-buttom: 2%;*/
}

.select_in_add_user{
    direction: rtl;
    margin-top: 2%;
    font-size: calc(11px + 1vmin);

    /*margin-buttom: 2%;*/
}

.buttonsChoose{
    text-align: center;
}

.submit_and_reset_buttons {
    width: 80px;
    height: 30px;
    margin: 8px 100px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.divs_in_add{
    overflow: hidden;
    text-align: center;
    margin-top: 2%;
}

.divs_in_add_drop{
    /*overflow: hidden;*/
    text-align: center;
    margin-top: 2%;
    font-size: calc(11px + 1vmin);
}

h2{
    text-align: center;
}

.Home-header {
    background-color: white;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 1vmin);
}


.dropdownquestionnairesOption{
    overflow: hidden;
    text-align: center;
    font-size: calc(11px + 1vmin);
}

.dropdown {
    /*!*position: center;*!*/
    width: 50%;
    /*!*text-align: right;*!*/
    /*margin-right: 35%;*/
    /*!*background-color: white;*!*/
    /*height: 28px;*/
    float: right;
    /*margin-top: 2%;*/
    /*margin-bottom: 2%;*/
    font-size: calc(11px + 1vmin);
}

.button {
    border-color: black;

    /*    width: 50%;*/
/*    height: 28px;*/
/*    float: right;*/
/*    margin-top: 2%;*/
/*    margin-bottom: 2%;*/
}
/*.btn {*/
/*    border-color: gray;*/
/*    !*background-color: white;*!*/
/*    border: 0.5px solid;*/
/*    border-radius: 2px;*/
/*    height: 30px;*/
/*    font-size: calc(8px + 1vmin);*/
/*}*/
.docbutton{
    background-color: #17a2b8;
}

.MuiIconButton-root{
    width: 50px;
}

.popup_innerAdd {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 35%;
    bottom: 35%;
    margin: auto;
    background: white;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: visible;
    font-size: 10px;
}