/*
// Examples Stylesheet
// -------------------
*/

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
}

.tooltip {
    position: absolute;
    color: #fff;
    padding: 10px;
    background: rgba(0,0,0,0.8);
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.grid {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.presenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 9999;
}

.source {
    margin-right: 50px;
    margin-left: 50px;
    flex-grow: 9999;
}

.footer {
    margin-top: 50px;
    border-top: 1px solid #eee;
    padding: 20px 0;
    font-size: 12px;
    color: #999;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 100;
    margin: 0.5em 0;
}

pre.message {
    white-space: normal;
    width: 600px;
    text-align: center;
}


.hint {
    margin: 15px 0;
    font-style: italic;
    color: #999;
}

.select_in_add_instructions{
    width: 300px;
}

.cardInstruction{
    /*border: 1px solid rgba(151, 150, 150, 0.281);*/
    margin-bottom: 3%;
    font-size: large;
    text-align: right;
    margin-left: 2%;
    margin-right: 25%;
    margin-top: 0;
    cursor: pointer;
    width: 90%;
}

.MuiGrid-grid-xs-6{
    flex-grow: 0;
    max-width: 42%;
    flex-basis: 50%;
}

.MuiGrid-spacing-xs-2 {
    width: calc(70% + 10px);
    margin: -8px;
}

MuiGrid-grid-xs-5
.insth2 {
    width: 500px;
    height:50px;
    text-shadow: 2px 2px 5px grey;
    margin-right: auto;
}

.divs_in_add_pdf{
    /*overflow: hidden;*/
    text-align: center;
    margin-top: 0.5%;
}
.labels_in_add_instructions{
    /* Other styling... */
    text-align: right;
    margin-right: 1%;
    margin-buttom: 2%;
    font-size: calc(11px + 1vmin);
    width: 35%;
}


.inputs_in_add_instructions, .select_in_add_instructions{
    width: 60%;
    height: 28px;
    float: right;
    margin-top: 0.5%;
    margin-buttom: 2%;
}

.select_in_add_instructions{
    direction: rtl;
    margin-top: 0.5%;
    font-size: calc(11px + 1vmin);

    /*margin-buttom: 2%;*/
}
