/*.table-bordered, .table-bordered td, .table-bordered th {*/
/*    border: 1px solid #dee2e6;*/
/*}*/

.table {
    width: 100%;
    margin-bottom: 3rem;
    color: #212529;
    text-align: center;
    align-items: center;
}
#mdd table {
    /*border-collapse: collapse;*/
}

#root {
    display: flex;
    position: center;
    justify-content: center;
    align-items: center;
}



.textarea {
    border-color: black;
    border-radius: 5px;
    /*resize: none;*/
    font-size: calc(8px + 1vmin);
    line-height: 24px;
    /*height: 200px;*/
    /*width: 400px;*/
    height: 200%;
    width: 100%;
    text-align: right;
    /*alignment: center;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}
                                                                                     /*.tableMessages{*/
    /*    height: 150%;*/
    /*    width: 150%;*/
    /*    align-items: center;*/
    /*    !*width: fit-content;*!*/
    /*    margin-left:auto;*/
    /*    margin-right:auto;*/
    /*}*/

/*.ReactPlayground-StyledExample-module--cls2--Z1-mo {*/
/*    position: relative;*/
/*    padding: 1rem;*/
/*    border: .2rem solid #ececec;*/
/*    border-radius: 8px;*/
/*    margin-right: 0;*/
/*    margin-left: 0;*/
/*    color: #212529;*/
/*}*/

#mdd th{
    height: 35px;
    width: 80%;
    position: sticky;
}

#mdd td{
    height: 35px;
    width: 80%;
    position: sticky;
}


#mdd tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    position: sticky;
}

.imageBox{
    box-shadow: 10px 10px 5px grey;
}


/*.container {*/
/*    position: relative;*/
/*}*/

/*.tooltip {*/
/*    position: absolute;*/
/*    color: #fff;*/
/*    padding: 10px;*/
/*    background: rgba(0,0,0,0.8);*/
/*    transform: translate3d(-50%, -50%, 0);*/
/*    border-radius: 5px;*/
/*    pointer-events: none;*/
/*    z-index: 1000;*/
/*}*/