.bg-dark {
    background-color: #343a40!important;
    height: 50px;
}

/*.navbar .navbar-expand .navbar-dark .bg-dark{*/
/*    position: relative;*/
/*    padding: .5rem 1rem;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

/*!*.navbar-expand {*!*/
/*!*    flex-flow: row nowrap;*!*/
/*!*    justify-content: flex-start;*!*/
/*!*}*!*/

/*.navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

/*.navbar {*/
/*    position: relative;*/
/*    padding: .5rem 1rem;*/
/*    display: flex;*/
/*    !*flex-wrap: wrap;*!*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

/*!*.after, .before {*!*/
/*!*    box-sizing: border-box;*!*/
/*!*}*!*/

/*.article, .aside, .figcaption, .figure, .footer, .header, .hgroup, .main, .nav, .section {*/
/*    display: block;*/
/*}*/



/*.button {*/
/*    color: white;*/
/*    font-size: medium;*/
/*    margin-top: 10px;*/
/*    width: -moz-fit-content;*/
/*    width: fit-content;*/
/*    float: left;*/
/*    margin-left: 0%;*/
/*}*/




#labels #hello {
    float: right;
    font-size: medium;
    margin-top: 10px;
    margin-right: 10px;
}

div.App, div.App-header {
    width:100%;
}


#buttons{
    /*margin-right: auto;*/
    margin-left: auto;
}

#change{
  font-size: large;
  margin-top: 1%;
  width: fit-content;
  float: right;
  margin-left: 0%;
  margin-right: 0%;
}

#sep{
  font-size: medium;
  margin-top: 10px;
  width: fit-content;
  float: left;
  margin-right: 8px;
  margin-left: 8px;
}

/*#change{*/
/*    font-size: medium;*/
/*    margin-top: 10px;*/
/*    margin-right: 90px;*/
/*    width: fit-content;*/
/*    float: right;*/
/*    margin-left: 100px;*/
/*    background: #343a40;*/
/*    color: white;*/
/*}*/

/*#sep{*/
/*    font-size: medium;*/
/*    margin-top: 10px;*/
/*    width: fit-content;*/
/*    float: left;*/
/*    margin-right: 8px;*/
/*    margin-left: 8px;*/
/*}*/

#change:hover{
    color: darkslategray;
    text-decoration: underline;
    cursor: pointer;
}

#labels {
    overflow: hidden;/* Makes this div contain its floats */
}

#logout{
    float: left;
    text-align: left;
    font-size: medium;
    margin-top: 10px;
}

.lineC{
    direction: rtl;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

#logout:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
/*.App-header {*/
/*    background-color: white;*/
/*    min-height: 20vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: calc(10px + 1vmin);*/
/*}*/

.App-link {
    color: #61dafb;
}

.popup {

    float: right;
    text-align: right;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 15rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color:#8FBC8F;
}

.popup_inner {

    position: absolute;
    left: 35%;
    right: 35%;
    top: 25%;
    bottom: 35%;
    margin: auto;
    background-color:#8FBC8F;
}

#pass, #pass2{
    width: 40%;
}

#h3{
    text-align: center;
}

#x {
    color: rgb(180, 180, 180);
    font-size: large;
    font-family: Arial, sans-serif;
    float: right;
    text-align: right;
    background-color: white;
    font-weight: bolder;
    width: fit-content;
    margin-top: 0;
}

#diffPass{
    font-weight: bold;
}

/*.navbar-expand-lg .navbar-nav .dropdown-menu {*/
/*    position: absolute;*/
/*}*/

/*.navbar-nav .dropdown-menu {*/
/*    position: static;*/
/*    float: none;*/
/*}*/
/*.dropdown-menu.show {*/
/*    display: block;*/
/*}*/

/*.dropdown-menu {*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 0;*/
/*    z-index: 1000;*/
/*    display: none;*/
/*    float: left;*/
/*    min-width: 10rem;*/
/*    padding: .5rem 0;*/
/*    margin: .125rem 0 0;*/
/*    font-size: 1rem;*/
/*    color: #212529;*/
/*    text-align: left;*/
/*    list-style: none;*/
/*    background-color: #fff;*/
/*    background-clip: padding-box;*/
/*    border: 1px solid rgba(0, 0, 0, .15);*/
/*    border-radius: .25rem;*/
/*}*/

#dropdown-item-button{
    color: white;
    /*margin-right: -8px;*/

}
#dropdown{
    position: revert;
}

.userIcon{
    float: right;
    margin-top: -5px;
    margin-right: -5px;
}

.popup_inner_info{
    position: revert;
    width: 750px;
    height: 600px;
    left: 25%;
    right: 25%;
    top: 8%;
    bottom: 10%;
    margin: auto;
    background-color:lightblue;
}
.cont{
    background-color:#99e6ff;
}

.card{
    width: 32rem;
    height: 25%;
    margin-right: 0%;
    margin-top: 0%;
}

.list-group-item {
    padding: 5rem 1.25rem;
}

.listItem{
    height: 42px;
}

.labels_in_add_user {
    text-align: left;
    float:right;
    margin-right: 12%;
    /*margin-buttom: 2%;*/
    font-size: calc(10px + 1vmin);
    padding-top: 1%;
    width: 25%;
}

.divs_in_add{
    overflow: hidden;
    text-align: center;
}
.inputs_in_add_user, .select_in_add_user{
    width: 25%;
    height: 28px;
    float: right;
    /*margin-buttom: 2%;*/
}

.container {
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*transform: translateX(-50%);*/
}

.cardInfo{
    position: sticky;
}