#mdd th, #mdd td{
    border: 1px solid black;
    border-collapse: collapse;
    float: right;
    width: 8.7%;
    font-size: 15px;
    font-weight:normal;
    margin: 0;
    padding: 1%;
    text-align: center;
}

#daily th{
    border: 1px solid black;
    border-collapse: collapse;
    float: right;
    width: 25%;
    font-size: 15px;
    font-weight:normal;
    margin: 0;
    padding-top: 0.5%;
    text-align: center;
    height: 70px;
}


#daily td{
    border: 1px solid black;
    border-collapse: collapse;
    float: right;
    width: 25%;
    font-size: 15px;
    font-weight:normal;
    margin: 0;
    padding-top: 0.5%;
    text-align: center;
    height: 70px;
}

#mdd tr, #daily tr, #daily tr{
    /*width: fit-content;*/

}

#per th, #per td  {
    border: 1px solid black;
    border-collapse: collapse;
    float: right;
    width: 14.28%;
    font-size: 15px;
    font-weight:normal;
    padding: 1%;
    text-align: center;
}

#mdd th{
    height: 50px;
    width: 11.1%;
}

#mdd td{
    height: 35px;
    width: 11.1%;
}

#per th{
    height: 100px;
    width: 14.28%;

    /*width: fit-content;*/
}


.before{
    color: rgb(33, 66, 128);
}

.after{
    color: rgb(189, 44, 44)
}

#mdd, #daily, #per{
    border-collapse: collapse;
    border-spacing: 0;
    /*width: fit-content;*/
}

.tabels{
    /*width: fit-content;*/
    margin-left:auto;
    margin-right:auto;
}

.center{
    text-align:center;
}

h2{
    margin-right: auto;
    height:50px;
    /*text-shadow: 2px 2px 5px grey;*/
}

#mdd a{
    color: black;
    text-decoration: none;
    background-color: transparent;
}
#mdd u×•{
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.imageBox{
    box-shadow: 10px 10px 5px grey;
}



#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/*#customers td, #customers th {*/
/*    border: 1px solid #ddd;*/
/*    padding: 8px;*/
/*}*/

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightgray;
    color: darkgray;
    color: black;
}

/*#customers tr:nth-child(even){background-color: #f2f2f2;}*/

#customers tr:hover {background-color: #ddd;}
